<div class="container-fluid">
<div class="wrapper">
<!-- <img src="http://4.bp.blogspot.com/-dUgQdZ2kMFI/T3e2Dm1X3hI/AAAAAAAAA9I/ubnZRwDGC-0/s1600/3d_lines_tech_sample-01.jpg" class="img-responsive" alt="Responsive image"> -->
<h1>Welcome to the &#60;br&#62; Box</h1>
<br>
<button type="button" name="button"><a href="/products">Go to Store</a></button>
</div>
</div>
