<h2>Thank you for your order!</h2>

<p>
  Please check your email for your confirmation code.
</p>
<p>
  Your package will be delivered in 3-5 days. Track it here: <a href="https://tools.usps.com/go/TrackConfirmAction_input">USPS</a>
</p>
